.calculator-container {
    background-color: grey;
    height: 70vh;
    width: 25rem;
    display: flex;
    flex-direction: column;
}

.employee-list-container {
    height: 50%;
}

.item-price-container {
    height: 50%;
}