@import '../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.calculator-container {
    background-color: white;
    width: 25rem;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-self: flex-start;
    max-height: none;
    border: 1px solid $primary;
    border-radius: 1rem;
    color: black;
  }
  

.employee-list-container {
    min-height: 20vh;
    max-height: fit-content;
    padding-bottom: 1rem;
    font-family: 'Press Start 2P', monospace;
}

.item-price-container {
    min-height: 35vh;
    max-height: fit-content;
    padding-bottom: 1rem;
    font-family: 'Press Start 2P', monospace;
}

.item-price-container h3 {
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 800;
    font-stretch: expanded;
}

.employee-list-container h3 {
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 800;
    font-stretch: expanded;
}

.item-price-container p {
    padding-top: 0;
    font-size: 15px;
}

.item-price-row, .employee-list-row {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 12px;
}

.total-price {
    font-size: 15px;
    font-weight: bold;
}

.employee-list-row {
    display: flex;
    flex-direction: row;
}

.employee-list-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;}

.employee-list-price p{
    margin-bottom: 0.25rem !important;
}

.item-price {
    flex-grow: 1;
    text-align: right;
    display: flex;
  }

.item-price::before {
    content:'';
    border-bottom: 2px dotted #000000;
    height: 1px;
    flex-grow: 1;
    display: inline-block;
    margin-top: 1em;
  }

.employee-total-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}  

.line {
    margin-top: 0.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
}