.header-container {
    display: flex;
    background-color: #17173b;
    padding: 5px;
    text-align: center;
    height: 10%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-title {
    color: white;
    align-items: start;
    margin-left: 1.5rem;
}

.header-buttons-container {
    margin-left: 3rem;
}

.header-button {
    width: 6rem;
    height: 4rem;
    margin-left: 1.5rem;
    background-color: #17173b;
    color: white;
    border: none; /* Removed border */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for highlighting */
}

.header-button:active, .header-button:hover {
    background-color: #3a3a6b; /* Highlight color when pressed */
}