@font-face {
    font-family: 'Gebila';
    src: url('./assets/fonts/GripGrafted.ttf') format('truetype');
    text-transform: uppercase; /* 👈 Alle Texte in Caps */
  }
  
  body {
    font-family: 'Akkurat Pro', sans-serif !important;
    text-transform: uppercase; /* 👈 Alle Texte in Caps */
  }
  